// bootstrap

@use './vendors/bootstrap';

// layouts

@use './layouts/navbar';
@use './layouts/intro';
@use './layouts/buttons';
@use './layouts/carosuel';
@use './layouts/aboutme';
@use './layouts/skillme';
@use './layouts/portfolio';
@use './layouts/contactMe';

// abstracts

@use './abstracts/mixins';
@use './abstracts/variables';
@use './abstracts/flexs';
@use './abstracts/global';

// animations

@use './animations/name';

// pages

@use './pages/about';
@use './pages/skill';
@use './pages/port';
@use './pages/contact';
