@use '../components/gradient' as *;
@use '../abstracts/variables' as *;
@use '../vendor/bootstrap' as *;

// for mobile devices
@include media-breakpoint-down(sm) {
  .header {
    &__row1 {
      margin: 0;
    }
    margin: 0;
    margin-top: 1.9375rem;
    &__head {
      max-width: 550px;
      width: 100%;
      text-align: center;
      padding: 0 2rem;
      transform: scale(1.2);
    }
  }

  .nav {
    margin: 0;
    @include primary-textcolor;
    margin-top: 1.5em;
    .nav-head__list {
      padding-left: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      .list-link {
        list-style: none;
        @include poppin-font;
        padding: 0.32em;
        font-size: 1.1rem;
        font-style: normal;
        @media only screen and (max-width: 400px) {
          font-size: 0.9rem;
          padding: 0.3em;
        }
        font-weight: 400;
        line-height: 1.5rem;
        letter-spacing: 0em;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}
