@use '../components/gradient' as *;
@use '../abstracts/variables' as *;
@use '../vendor/bootstrap' as *;

.about--me {
  margin: 0;
  padding: 0;
  .who-vector {
    padding-left: 1rem;
    padding-right: 0.1rem;
    transform: scale(1.2);
  }
  .who {
    text-transform: uppercase;
    @include poppin-font;
    @include primary-textcolor;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6875rem;
    letter-spacing: 0em;
    text-align: left;
    padding: 0.8em;
  }
  .images-container {
    margin-top: 1.8rem;
    position: relative;
    .image-one {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .image-two {
      position: absolute;
      left: 70%;
      transform: scale(1.2);
    }
  }
  .text-container {
    margin: 0;
    padding: 0;
    margin-top: 2rem;
    .about-text {
      padding: 1.5em;
    }
  }
}
