@use '../components/gradient' as *;
@use '../abstracts/variables' as *;
@use '../vendor/bootstrap' as *;

.jump-arrow {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  img {
    margin: 0 auto;
    align-items: center;
    padding-top: 1.2em;
    padding-left: 0.02em;
    width: 1rem;
    animation: bounce 3s infinite;
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
}
