@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/global' as *;

.carosuel {
  position: relative;
  width: 80%;
  height: 250px;
  margin: 0 auto;

  .carosuel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carosuel__track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  .carosuel-track {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
  }

  .carosuel-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  .carosuel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
    img {
      width: 20px;
    }
  }

  .carosuel__button--right {
    right: -40px;
  }
  .carosuel__button--left {
    left: -40px;
  }

  .carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    .carousel__indicator {
      border: 0;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.4);
      margin: 0 10px;
      &.cuurent-slide {
        background: rgba(255, 255, 255, 0.9);
      }
    }
  }
  .carosuel__title {
    display: flex;
    justify-content: center;
  }
  .is-hidden {
    display: none;
  }
}
