@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/global' as *;

.skill {
  color: $text-color;
  text-align: center;
  .skill__head {
    text-align: left;
    padding-bottom: 5rem;
    span {
      margin-top: 0.1rem;
      color: $text-color;
      text-transform: uppercase;
    }
  }

  .flex {
    gap: 10px;
    flex-wrap: wrap;
  }
  .tool {
    .flex {
      gap: 15px;
    }
  }
  .lang {
    margin-top: 2rem;
    margin-bottom: 2rem;
    span:first-child {
      margin-bottom: 1.3rem;
      text-transform: uppercase;
      @include poppin-font;
    }
    ul > li {
      padding: 0.2rem;
    }
  }
  .front {
    margin-top: 2rem;
    margin-bottom: 2rem;
    span:first-child {
      margin-bottom: 1.3rem;
      text-transform: uppercase;
      @include poppin-font;
    }
    ul > li {
      padding-left: 0.2rem;
    }
  }
  .back {
    margin-top: 2rem;
    margin-bottom: 2rem;
    span:first-child {
      margin-bottom: 1.3rem;
      text-transform: uppercase;
      @include poppin-font;
    }
    ul > li {
      padding: 0.1rem;
    }
  }
  .tool {
    margin-top: 2rem;
    margin-bottom: 2rem;
    span:first-child {
      margin-bottom: 1.3rem;
      text-transform: uppercase;
      @include poppin-font;
    }
    ul > li {
      padding: 0.2rem;
    }
  }
}

// fonts sizes

@media only screen and (min-width: 320px) {
  .lang .back .front .tool {
    span:first-child {
      font-size: calc(0.875rem + 0.5 * ((100vw - 20rem) / 60));
    }
    span:last-child {
      font-size: calc(0.7rem + 0.5 * ((100vw - 20rem) / 60));
    }
  }
  .skill__head {
    span {
      font-size: calc(1.2rem + 0.5 * ((100vw - 20rem) / 60));
    }
  }
}

@media only screen and (min-width: 1200px) {
  .lang .back .front .tool {
    span:first-child {
      font-size: 4rem;
    }
  }
  span:last-child {
    font-size: 1.2rem;
  }
  .skill__head {
    span {
      font-size: 2rem;
    }
  }
}
