@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/global' as *;

.skill {
  .skill__head {
    span {
      margin-top: 0.1rem;
      color: $text-color;
      font-size: calc(1.3rem + 0.8 * ((100vw - 60rem) / 60));
      text-transform: uppercase;
    }
  }

  .flex {
    gap: 10px;
    flex-wrap: wrap;
  }
  .tool {
    .flex {
      gap: 15px;
    }
  }
}
