html {
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: #131419;
  text-shadow: 0, 0, 1px white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: white;
}

// flex
.flex {
  display: flex;
  &-jc-c {
    justify-content: center;
  }
  &-jc-sb {
    justify-content: space-between;
  }
  &-ai-c {
    align-items: center;
  }
  &-w {
    flex-wrap: wrap;
  }
}

li {
  list-style: none;
}
