// global variables

// colors

@mixin primary-textcolor {
  color: white !important;
}
// fonts

@mixin header-font {
  font-family: "Zilla Slab", serif;
}

@mixin poppin-font {
  font-family: "Poppins", sans-serif;
}

// weight

$one: 100;
$two: 200;
$three: 300;
$four: 400;
$five: 500;
$six: 600;
$seven: 700;
$eight: 800;
$nine: 900;
$ten: 1000;
